<div>
    QUERY BUILDER
    <br/>
    Please type in your Query:<br />
    (If you want autocomplete please start the word with :
    eg: If you want Market please type :M then Query builder suggest you the words starting with M)
    <br /><br />
    <textcomplete members='members' message='message' ></textcomplete>
    <br />
    <br />
    (If you want autocomplete please start the word with : <br/>
    eg: If you want Market please type :M then Query builder suggest you the words starting with M)
    <br />

    Your Query is:
    {{message}}
</div>