<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="">
		<meta name="author" content="">
		<title>Stock Overhaul - Screener</title>
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

		<!-- Optional theme -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

		<!-- Latest compiled and minified JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
		<script src="/app/components/jquery/jquery.min.js"></script>
		
	</head>
	<body>
		<div ng-include src="'/app/shareforcast/modules/views/header.html'"></div>
		<div class="container theme-showcase" role="main">
			<div class="jumbotron">
				<h1>Stock Screener</h1>
			</div>
			<div>
				<p>Please type in your Query:</p>
			</div>
			<textcomplete members='members' message='message' ></textcomplete>
			<br />
			<br />
			
			Your Query is:
			{{message}}

			<br/><br/>
			<button class="btn btn-primary" type="button" ng-click="submitQuery()" ng-disabled="buttonDisabled()"><b>SUBMIT</b></button>

			<div ng-show="showResultTable" class="table-responsive">
				<table class="table table-hover">
					<caption>Query Results</caption>
					<thead>
						<tr class="active">
							<th>Company ID</th>
							<th>Company Name</th>
							<th>EPS</th>
							<th>Face Value</th>
							<th>Market Cap</th>
							<th>Price</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="companyDetail in companyDetails" ng-click="showCompanyDetails(companyDetail.companyId)">
							<td>{{companyDetail.companyId}}</td>
							<td>{{companyDetail.companyName}}</td>
							<td>{{companyDetail.eps}}</td>
							<td>{{companyDetail.faceValue}}</td>
							<td>{{companyDetail.marketCap}}</td>
							<td>{{companyDetail.price}}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div ng-include src="'/app/shareforcast/modules/views/footer.html'"></div>
	</body>
</html>