<html>

	<body>

		<div class="container theme-showcase" role="main">
			<div class="jumbotron">
				<h1>Stock Screener</h1>
			</div>
			<div>
				<p>Please type in your Query:</p>
			</div>
			<textcomplete members='members' message='message' ></textcomplete>
			<br />
			<br />
			
			Your Query is:
			{{message}}

			<br/><br/>
			<button class="btn btn-primary" type="button" ng-click="submitQuery()" ng-disabled="buttonDisabled()"><b>SUBMIT</b></button>

			<div ng-show="showResultTable" class="table-responsive">
				<table class="table table-hover">
					<caption>Query Results</caption>
					<thead>
						<tr class="active">
							<th>Company ID</th>
							<th>Company Name</th>
							<th>Ratio</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="companyDetail in companyDetails" ng-click="showCompanyDetails(companyDetail.CompanyId)">
							<td>{{companyDetail.CompanyId}}</td>
							<td>{{companyDetail.CompanyName}}</td>
							<td>{{companyDetail.RatioId}} = {{companyDetail.RatioValue}}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</body>
</html>