<html>

	<body>

		<div class="container theme-showcase" role="main">
			<br/><br/><br/>
			<div class="form-group">
				<div class="col-sm-4">
					<label for="usr">User Name:</label>
					<input type="text" ng-model="userid" id="usr" class="form-control" placeholder="Enter user name">
				</div>
			</div>
			<br/><br/><br/>
			<div class="form-group">
				<div class="col-sm-4">
					<label for="pwd">Password:</label>
					<input type="password" ng-model="psw" id="pwd" class="form-control" placeholder="Enter password">
				</div>
			</div>
			<br/><br/><br/>
			<div class="form-group">
				<button class="btn btn-primary" ng-click="login()">login</button>
			</div>
			{{title}} </br>
		</div>

	</body>
</html>