<html>
<body>
<div class="container theme-showcase" role="main">
    <br/><br/><br/>
    <div class="form-group">
        <div class="col-sm-4">
            <label for="usr">User Name:</label>
            <input type="text" ng-model="userid" id="usr" class="form-control" placeholder="Enter user name">
        </div>
    </div>
    <br/><br/><br/>
    <div class="form-group">
        <div class="col-sm-4">
            <label for="pwd">Password:</label>
            <input type="password" ng-model="psw" id="pwd" class="form-control" placeholder="Enter password">
        </div>
    </div>
    <br/><br/><br/>
    <div class="form-group">
        <div class="col-sm-4">
            <label for="fname">First Name:</label>
            <input type="text" ng-model="firstname" id="fname" class="form-control" placeholder="Enter first name">
        </div>
    </div>
    <br/><br/><br/>
    <div class="form-group">
        <div class="col-sm-4">
            <label for="lname">Last Name:</label>
            <input type="text" ng-model="lastname" id="lname" class="form-control" placeholder="Enter last name">
        </div>
    </div>
    <br/><br/><br/>
    <div class="form-group">
        <div class="col-sm-4">
            <label for="email">Email:</label>
            <input type="text" ng-model="email" id="email" class="form-control" placeholder="Enter email">
        </div>
    </div>
    <br/><br/><br/>
    <div class="form-group">
        <button class="btn btn-primary" ng-click="register()">Register</button>
    </div>
    {{title}} </br>
</div>
</body>
</html>